<div class="days-list">
  <ul class="days">
    <li *ngFor="let day of days">
      <h1>{{ day.name }}</h1>
      <h2>{{ day.date | uppercase }}</h2>
      <div class="day-images">
        <img *ngFor="let image of day.images" [src]="image" />
      </div>
      <div class="day-thoughts">
        <input
          id="thoughts"
          [(ngModel)]="day.thoughts"
          placeholder="Today's thoughts..."
        />
      </div>
      <div class="day-booleans">
        <h3>meditated: {{ day.hasMeditated }}</h3>
        <h3>worked out: {{ day.hasWorkedOut }}</h3>
      </div>
    </li>
  </ul>
</div>
